.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 3rem;
}
.content-container{
    flex-basis: 50%;
    padding-top: 2rem;
}
.content-container > h2{
    padding-bottom: 1rem;
}
.hero-image-container{
    flex-basis: 50%;
}
.hero-img{
    width: 100%;
    object-fit: cover;
}
.buttons{
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
}
.btn-container{
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    align-items: center; 
}

.buttons > a{
    text-decoration: none;
}
.hero-btn-outline{
    border: 1px solid var(--clr-gray);
    background-color: var(--clr-white);
}

.content-container>p{
    padding: 1rem 0;
}
@media only screen and (max-width: 800px ){
    .hero-image-container{
        display: none;
    }
    .hero-section{
        flex-direction: column;
        text-align: center;
    }
    .btn-container{
        justify-content: center;
    
}
}
