
.question-section{
    padding: 1rem;
    max-width: 80vw;
    margin: 1rem auto;
}

.question-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid var(--clr-gray);
    border-radius: 10px;
    gap: 1.5rem;
    padding: 2.5rem;
    flex-direction: column;
    width: 100%;
}
.option-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: left;
    margin: 2rem 0;
}
.option-container >.btn:hover{
    opacity: 1; 
}
.option-container >.btn:focus{
    color: var(--clr-white);
    background-color: var(--clr-dark);
}
.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timer{
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: .5rem 1rem;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
}
@media (min-width:900px){
    .question-section{
        max-width: 60vw;
        padding: 2rem;
    }
}
